body{
    background-color: aliceblue;
    background-image: url;
}
p{
    background-color: aqua;
    border: 2px solid;
    letter-spacing: 5px;
}
h1{
    text-transform: uppercase;
    background-color: aquamarine;
}
h2{
    color: blanchedalmond;
}